@import "variables";

.citiesContainer {
	text-align:center;
}

.citySelect {
	width: 60%;
	margin-top: 15px;
	color: #fff;
	background-color: #66c3ec;
	border: none;
	padding: 10px 12px;
	border-radius: 0px;
}

.intro {
	margin: 20px 20%;
}

.intro .desc {
	margin-top: 20px;
}

.chooseCity {
	margin: 0 20%;
	padding: 10px 0;
}

.usagepicker .box {
	width: 70%;
	margin: 20px auto;
	float: none;
	text-align: center;

	border-top: 5px solid transparent;
	
	height:100%;
	background:#fff;
	cursor:pointer;
	font-family:$font-stack;
	font-weight:300;
	font-size: 12px;
	box-sizing: border-box;
	padding: 20px;

	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

@media screen and (min-width: 768px) {
	
	.usagepicker .box {
		float:left;
		width:48%;
		margin:0;
		padding:10px 20px;
		text-align: auto;
	}

	.intro {
		height: 130px;
		float: left;
		margin-bottom: 20px;
		font-family: $font-stack;
		font-weight:300;
		font-size: 16px;
		line-height: 1.5;

		box-sizing: border-box;
		padding:10px 0;

		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		.desc {
			margin: 0;
		}
	}

	.intro img {
		width:150px;
	}

	.intro h3 {
		margin: 0;
		font-family: $font-stack;
		font-weight: 600;
		font-size: 25pt;
		margin-bottom: 15px;
		color: #67b8de;
	}

	.lookfor {
		font-weight:500;
	}

	.usagepicker {
		position: absolute;
		top:30%;
		left:50%;
		width:500px;
		margin-left:-250px;
		height:250px;
		margin-top:-125px;
	}

	.langpicker-container {
		text-align:center;
		margin-top:265px;
	}


	#overlay .langpicker-container #lang-panel {
		padding-top: 10px;
	}
	#overlay .langpicker-container img {
		width:32px;
	}

	.usagepicker .station.box {
		margin-right: 0;
	}

	.usagepicker .box:nth-of-type(1) {
		margin-right:15px;
	}

	.usagepicker .box h3 {
		margin: 0;
		font-family: $font-stack;
		font-weight: 500;
		font-size: 13pt;
		margin-bottom: 5px;
	}

	.usagepicker .box .image {
		width:100%;
		text-align:center;
		opacity: 0.6;
	}

	.usagepicker .box .desc {
		width:100%;
		text-align:center;
	}

	.usagepicker .box:hover .image {
		opacity: 1;
	}

	.usagepicker .box:hover {
		border-top: 5px solid #67b8de;
	}

}