$font-stack: 'Open Sans', 'Helvetica', 'Arial', sans-serif;
//colors
$color-indigo: #487bc7;
$color-sky: #66c3ec;
$color-pin-red: #d74a51;
$color-pin-blue: #61bada;
$color-pin-current: #37c790;

//purpose
$color-placeholder: #bdc3c7; //flat ui color
